/* #region CONFIGS */
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
}
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgb(184, 184, 184); 
}
::-webkit-scrollbar-thumb {
    background-color: rgb(230, 171, 117);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(224, 141, 62);
}

body {
    overflow-x: hidden; /* Hide scrollbars */
    margin-bottom: 50em;
}

/* Variables */
:root{

    scroll-behavior: smooth;

/* COLORS */
    --bgPrimaryColor: #fff;
    --bgSecondaryColor: #000;
    --bgThirdColor: #232323;

    --primaryColor: #000;
    --secondaryColor: #fff;
    --thirdColor: #333533;
    
/* FONTS */
    --smSmFont: 1.4rem;
    --smFont: 1.8rem;
    --mdFont: 2.4rem;
    --lgFont: 3.6rem;
    --xLgFont: 6.4rem;
    --fontBold: bold;
    --fontMedium: 500;
}

.bgPrimaryColor{
    background-color: var(--bgPrimaryColor);
}
.bgSecondaryColor{
    background-color: var(--bgSecondaryColor);
}
.primaryColor{
    color: var(--primaryColor);
}
.secondaryColor{
    color: var(--secondaryColor);
}
.thirdColor{
    color: var(--thirdColor);
}

.smSmFont{
    font-size: var(--smSmFont);
}
.smFont{
    font-size: var(--smFont);
}
.mdFont{
    font-size: var(--mdFont);
}
.lgFont{
    font-size: var(--lgFont)
}
.xLgFont{
    font-size: var(--xLgFont);
}
.fontMedium{
    font-weight: 500;
}
.fontBold{
    font-weight: bold;
}
/* #endregion  */
/* ------------------------------ */


a{
    text-decoration: none;
}


main{
    padding: 0 10% 0 10%;
}

.header{
    top: 0;
    width: 100%;
    height: 15%;
    
    display: grid;
    padding: 3% 0 3% 0;
    grid-template-columns: 2fr 5fr 2fr 2fr;
    gap: 2%;
}
.header > section{
    display: flex;
    align-items: center;
}

.navLogo{
    width: fit-content;
    height: 100%;
    justify-content: flex-start;
}
.navLogo div{
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: width .5s;
}
.navLogo span:hover > div{
    width: 100%;

}

.navMenu{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.navMenu > span{
   width: 33%; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.navMenu > span > .active{
    border-bottom: 1px solid black;
}
.navMenu span:hover > a{
    color: #333533;
    border-bottom: 1px solid #333533;
}

.navSearch{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
}
.navSearch span{
    cursor: pointer;
    margin: .2em;
}
.search{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navSearch input{
    outline: 0;
    border: 0;
    height: 100%;
    width: 100%;
    border-bottom: 0px solid #000;


}
.navSearch input:focus{
    border-bottom: 1px solid #000;
}
.navBtn{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
.navBtn > div{
    color: #fff;
    width: 75%;
    height: 100%;
    border-radius: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
}
.navBtn > div:hover{
    color: var(--primaryColor);
    scale: 1.2;
    background-color: rgb(212, 212, 212);
    border: 1px solid #000;
    filter: brightness(1.02);
}

.effectHeader{
    z-index: -1;
    position: absolute;
    top: -5em;
    left: -35em;
    height: 200px;
    width: 50vw;
    border-radius: 0 100px 100px 0;
    background: linear-gradient(black, rgba(30,30,30,1));

    transform: rotate(-5deg);
}
@media screen and (min-width: 1500px) {
    .effectHeader{
        top: -3em;
        left: -55em;
    }
    
}


.home{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 100%;
    margin-top: 5em;
}
.home > section{
    display: flex;
    height: 100%;
    
}

.imgHome{
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh;

}
.rectImg{
    height: 90%;
    position: absolute;
}
.bonsaiImg{
    height: 90%;
    position: absolute;
}

.arrowArea, .arrowArea:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20%;
    position: absolute;
    bottom: 5%;
    width: 5vh;
    z-index: 1;
}
.arrow{
    position: absolute;
    bottom: 10px;
    border-radius: 5px 5px 100% 100%;
    height: 6em;
    width: 4px;
    background: linear-gradient(transparent,black, white);
}
.arrow::before{
    content: '';
    height: 2em;
    width: 4px;
    border-radius: 5px ;
    background: linear-gradient(black, white,  white);

    position: absolute;
    bottom: -2px;
    right: calc(50% + 4px);

    transform: rotate(-45deg);
}
.arrow::after{
    content: '';
    height: 2em;
    width: 4px;
    border-radius: 5px ;
    background: linear-gradient(black, white, white);

    position: absolute;
    bottom: -2px;
    left: calc(50% + 4px);

    transform: rotate(45deg);
}

.textHome{
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.textArea{
    width: 66.5%;
}
.textArea > div{
    margin: 5% 0 5% 0 ;
}
.textBtn{
    cursor: pointer;
    width: 45%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2em;
    transition: background-color .2s;
}




.about{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 100%;
    margin: 15em 0 0 0;
}
.about > section{
    display: flex;
    height: 100%;
}

.imgAbout > img{
    position: absolute;
    left: 0;

    object-fit: cover;

    width: 50em;
    height: auto;
}
.textAbout .textArea{
    flex: 6;
    text-justify: auto;
}
.textAbout .text{
    line-height: 3rem;
}

.carousel{
    position: absolute;
    left: 0;
    
    height: auto;
    min-height: 25rem;
    width: 100vw;
    margin: 15rem 0;
    padding-bottom: 5rem;
    background-color: var(--bgThirdColor);
    box-shadow: inset 0 0 5rem black;
}
.carousel span{ /* Title Carousel */    
    display: inline-block;

    padding: 2rem 0;
    text-align: center;
    width: 100%;
}

.prevBtn{
    position: absolute;
    left: 5rem;
    top: 46.5%;

    width: 50px;
    height: 50px;
    margin-bottom: 50%;
    background-color: var(--bgPrimaryColor);

    clip-path: polygon(83% 10%, 83% 0%, 0% 50%, 83% 100%, 83% 90%, 15% 50%);
}
.prevBtn:hover{
    background-color: rgba(255,255,255,.5);
    cursor:pointer
}

.nextBtn{
    position: absolute;
    right: 5rem;
    top: 46.5%;

    width: 50px;
    height: 50px;
    margin-bottom: 50%;
    background-color: var(--bgPrimaryColor);

    clip-path: polygon(17% 10%, 17% 0%, 100% 50%, 17% 100%, 17% 90%, 83% 50%);
}
.nextBtn:hover{
    background-color: rgba(255,255,255,.5);
    cursor:pointer
}

.carouselArea{
    height: 50px;
    width: 50px;
    background-color: blue;
    width: 75vw;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 2rem;
}






.carouselBtn{
    display: flex;
    
    height: 50px;
    width: 20vw;

    margin: 0 auto;

    border-radius: 15px;
    border: 2px solid white;

}
.carouselBtn:hover{
    cursor: pointer;
    filter: brightness(75%);
}

.carouselBtn a{
    margin: auto auto;
}

