/* #region CONFIGS */
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgb(184, 184, 184); 
}
::-webkit-scrollbar-thumb {
    background-color: rgb(230, 171, 117);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(224, 141, 62);
}

body {
    overflow-x: hidden; /* Hide scrollbars */
}

/* Variables */
:root{
/* COLORS */
    --bgPrimaryColor: #fff;
    --bgSecondaryColor: #000;
    --primaryColor: #000;
    --secondaryColor: #fff;
    --thirdColor: #333533;
    
/* FONTS */
    --smFont: 1.8em;
    --mdFont: 2.4em;
    --lgFont: 3.6em;
    --xLgFont: 6.4em;
    --fontBold: bold;
    --fontMedium: 500;
}

.bgPrimaryColor{
    background-color: var(--bgPrimaryColor);
}
.bgSecondaryColor{
    background-color: var(--bgSecondaryColor);
}
.primaryColor{
    color: var(--primaryColor);
}
.secondaryColor{
    color: var(--secondaryColor);
}
.thirdColor{
    color: var(--thirdColor);
}

.smFont{
    font-size: var(--smFont);
}
.mdFont{
    font-size: var(--mdFont);
}
.lgFont{
    font-size: var(--lgFont)
}
.xLgFont{
    font-size: var(--xLgFont);
}
.fontMedium{
    font-weight: 500;
}
.fontBold{
    font-weight: bold;
}
/* #endregion  */
/* ------------------------------ */


a{
    text-decoration: none;
}


.mainContainer{
    padding: 0 10% 0 10%;
}

.header{
    top: 0;
    width: 100%;
    height: 15%;
    
    display: grid;
    padding: 3% 0 3% 0;
    grid-template-columns: 2fr 5fr 2fr 2fr;
    gap: 2%;
}
.header > section{
    display: flex;
    align-items: center;
}

.navLogo{
    width: fit-content;
    height: 100%;
    justify-content: flex-start;
}
.navLogo div{
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: width .5s;
}
.navLogo span:hover > div{
    width: 100%;

}

.navMenu{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.navMenu > span{
   width: 33%; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.navMenu > span > .active{
    border-bottom: 1px solid black;
}
.navMenu span:hover > a{
    color: #333533;
    border-bottom: 1px solid #333533;
}

.navSearch{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
}
.navSearch span{
    cursor: pointer;
    margin: .2em;
}
.search{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navSearch input{
    outline: 0;
    border: 0;
    height: 100%;
    width: 100%;
    border-bottom: 0px solid #000;


}
.navSearch input:focus{
    border-bottom: 1px solid #000;
}
.navBtn{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
.navBtn > div{
    color: #fff;
    width: 75%;
    height: 100%;
    border-radius: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
}
.navBtn > div:hover{
    color: var(--primaryColor);
    scale: 1.2;
    background-color: rgb(212, 212, 212);
    border: 1px solid #000;
    filter: brightness(1.02);
}

.effectHeader{
    z-index: -1;
    position: absolute;
    top: -5em;
    left: -35em;
    height: 200px;
    width: 50vw;
    border-radius: 0 100px 100px 0;
    background: linear-gradient(black, rgba(30,30,30,1));

    transform: rotate(-5deg);
}
@media screen and (min-width: 1500px) {
    .effectHeader{
        top: -3em;
        left: -55em;
    }
    
}


.home{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 100%;
    margin-top: 5em;
}
.home > section{
    display: flex;
    height: 100%;
    
}

.imgHome{
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh;

}
.rectImg{
    height: 90%;
    position: absolute;
}
.bonsaiImg{
    height: 90%;
    position: absolute;
}

.arrowArea, .arrowArea:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20%;
    position: absolute;
    bottom: 5%;
    width: 5vh;
    z-index: 1;
}
.arrow{
    position: absolute;
    bottom: 10px;
    border-radius: 5px 5px 100% 100%;
    height: 6em;
    width: 4px;
    background: linear-gradient(transparent,black, white);
}
.arrow::before{
    content: '';
    height: 2em;
    width: 4px;
    border-radius: 5px ;
    background: linear-gradient(black, white,  white);

    position: absolute;
    bottom: -2px;
    right: calc(50% + 4px);

    transform: rotate(-45deg);
}
.arrow::after{
    content: '';
    height: 2em;
    width: 4px;
    border-radius: 5px ;
    background: linear-gradient(black, white, white);

    position: absolute;
    bottom: -2px;
    left: calc(50% + 4px);

    transform: rotate(45deg);
}

.textHome{
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.textArea{
    width: 66.5%;
}
.textArea > div{
    margin: 5% 0 5% 0 ;
}
.textBtn{
    cursor: pointer;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2em;
    transition: all .2s;
}
.textBtn:hover{
    scale: 1.05;
}



.about{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 100%;
    margin-top: 10em;
}
.about > section{
    display: flex;
    height: 100%;
}

.imgAbout > img{
    position: absolute;
    left: 0;

    object-fit: cover;

    width: 50em;
    height: auto;
}

.textAbout{
    background-color: red;
}